.list-section {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.list-section p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
.list-section > ul {
  list-style: none;
  padding: 0;
}
.list-section .movie-list--card {
  width: 100%;
  height: calc(20vh - 1rem);
  margin: 1.5rem 0;
  border: 2px solid black;
  text-align: left;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.movie-list--card > .movie-list--figure {
  grid-column: 1/3;
  margin: 0;
  height: inherit;
  display: flex;
}
.movie-list--card > .movie-card--description {
  padding: 0 0.5rem;
  grid-column: 3/7;
}
.movie-list--card > .movie-list--figure > .movie-list--image {
  flex: 1;
  width: 100%;
}

.movie-card--description > .movie-card--additional-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: hsl(0, 0%, 35%);
}

.movie-card--description > h1 {
  font-size: 1.1em;
  text-align: center;
}
.movie-card--description > .movie-card--star-rating-container {
  margin-top: 0.4em;
  display: flex;
  justify-content: center;
}
.movie-list--button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-list--button-container > .movie-list--more-button {
  width: 100%;
  border-radius: 0px;
  background-color: white;
  border: 2px solid #4f4f4f;
  padding: 1.2em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-list--button-container > .movie-list--more-button {
  transition: border-color 0.25s;
}
.movie-list--more-button > .movie-list--button-icon {
  transition: color 0.25s;
}
.movie-list--button-container > .movie-list--more-button:hover {
  border-color: #646cff;
}
@media (min-width: 476px) {
  .list-section .movie-list--card {
    grid-template-columns: repeat(9, 1fr);
  }
  .movie-list--card > .movie-list--figure {
    grid-column: 1/3;
  }
  .movie-list--card > .movie-card--description {
    grid-column: 3/10;
  }
}
@media (min-width: 676px) {
  .list-section .movie-list--card {
    grid-template-columns: repeat(6, 1fr);
  }
  .movie-list--card > .movie-list--figure {
    grid-column: 1/2;
  }
  .movie-list--card > .movie-card--description {
    grid-column: 3/7;
  }
}
