.movie-table--outer-container {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.movie-table--inner-container {
  max-height: 66.4vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}
.movie-table {
  border-spacing: 0px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  min-width: 400px;

  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: black;
}
.movie-table thead {
  position: sticky;
  top: 0px;
}

.movie-table thead tr {
  background-color: #af72ff;
  font-weight: 600;
  text-align: left;
}

.movie-table th,
.movie-table td {
  padding: 12px 15px;
  border: 1px solid black;
}
.table-footer {
  cursor: pointer;
}
.table-footer--conten {
  transition: border-color 0.25s;
}
.table-footer--content:hover {
  border-color: #646cff;
}

.table-footer--conten:focus,
.table-footer--conten:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.movie-table .movie-image {
  height: 155px;
  aspect-ratio: 2/3;
}
